---
humilis-redshift:
    description:
        A dummy environment used for testing the kinesis-proxy plugin.

    layers:
        - layer: vpc
          layer_type: vpc

        - layer: redshift
          layer_type: redshift
          description: Redshift cluster
          domain: {{domain}}
          hosted_zone_id: {{hosted_zone_id}}
          parameter_group_name: default.redshift-1.0
          vpc_id:
            $layer_output:
                layer_name: vpc
                output_name: VpcId
          ip_whitelist:
            - "95.97.71.50/32"
          subnet_id:
            $layer_output:
                layer_name: vpc
                output_name: PublicSubnet1
